<!DOCTYPE HTML>
<html>
    <head>
        <title>New Recipe</title>
        <h1>Create a New Recipe</h1>
    </head>

    <body>

        <% if @recipe.errors %>
            <% @recipe.errors.full_messages.each do |m| %>
                <h4 style='color:red'><%= m %></h4>
            <%end%>
        <%end%>

        <%= form_for @recipe do |f| %>
        <%= f.label "Recipe's Name" %>
        <%= f.text_field :name %>
        
        <!-- <%= f.fields_for :user,@recipe.create_user do |c| %>
            <%= c.label "Recipe Creator" %>
            <%= c.text_field :name %>
            <%end%> -->
        
        <%= f.collection_select(:user_id, User.all, :id, :name, {:prompt => "Choose a Chef"}) %> 
        <br><br>
        <!-- <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %> -->
        <% Ingredient.all.each do |ingredient| %>
        <%= f.check_box( :ingredient_ids, {:multiple => true}, ingredient.id, nil)%>
        <%= ingredient.name %>
        <br>
        <% end %>

        <!-- <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |b| b.label(:"data-value" => b.value) { b.check_box + b.text }  end %> -->
        
        <br><br>
        <%= f.submit "Submit Recipe" %>
        <%end%>

    </body>
</html>